{% extends 'base.html.twig' %}

{% block title %} Creer une évènement {% endblock %}

{% block body %}
    {# {{ form(form)}} #}
<div class="container">
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            <div class="error">
                {{ form_errors(form.title) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="error">
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.date) }}
            {{ form_widget(form.date) }}
            <div class="error">
                {{ form_errors(form.date) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.localisation) }}
            {{ form_widget(form.localisation) }}
            <div class="error">
                {{ form_errors(form.localisation) }}
            </div>
        </div>
        <div class="mb-3">
            {{ form_label(form.maxParticipant) }}
            {{ form_widget(form.maxParticipant) }}
            <div class="error">
                {{ form_errors(form.maxParticipant) }}
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}